# Archivos de credenciales
.env

# Archivos de resultados
consultas_credito/
*.txt
lista_dnis.txt

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo
